<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>반복문연습</title>
</head>
<body>
    <table border="1" cellpadding="0" cellspacing="0">
        <tr>
            <th>번호</th>
            <th>아이디</th>
            <th>이름</th>
            <th>나이</th>
        </tr>
        <tr th:each="member, status:${memberList}">
            <td th:text="${member.membernum}">번호</td>
            <td th:text="${member.memberid}">아이디</td>
            <td th:text="${member.membername}">이름</td>
            <td th:text="${member.memberage}">나이</td>
        </tr>
    </table>
</body>
</html>